<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <title>Message | Mini Message Board</title>
</head>
<body>
    <%- include('header', {type: 'message'}) %>
    <% const date=message.added.toLocaleDateString() %>
    <% const time=message.added.toLocaleTimeString() %>
    <div class="message-details">
        <h2>Message Details</h2>
        <div class="text">Text: <%= message.text %></div>
        <div class="user">Posted by: <%= message.user %></div>
        <div class="added">Posted on: <%= date %> at <%= time %></div>
        <a href="/"><button><img src="/left-arrow.svg" alt="Left Arrow"> Back to Messages</button></a>
    </div>
</body>
</html>